*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;}
body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block; max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;}



:root {
    font-family: InterVariable, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    --font-size: 1rem;

    --clr-subtle: hsl(0, 0%, 50%);
    --clr-text: hsl(0, 0%, 20%);
    --clr-bg: hsl(0, 0%, 100%);
    --clr-border: hsl(0, 0%, 90%);
    --clr-card-bg: hsl(0, 0%, 95%);
    --clr-primary: hsla(60, 100%, 50%, 0.5);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --clr-subtle: hsl(0, 0%, 70%);
      --clr-text: hsl(0, 0%, 90%);
      --clr-bg: hsl(0, 0%, 12.5%);
      --clr-border: hsl(0, 0%, 25%);
      --clr-card-bg: hsl(0, 0%, 18%);
      --clr-primary: hsla(60, 100%, 50%, 0.2);
    }
  }

  body {
    background-color: var(--clr-bg);
  }

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.035em;
    padding-block: 1.5em 0.25em;
  }

  @font-face {
    font-family: InterVariable;
    font-style: normal;
    src: url(font/InterVariable.woff2);
  }

  @font-face {
    font-family: InterVariable;
    font-style: italic;
    src: url(font/InterVariable-Italic.woff2);
  }

  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

  #editor {
    color: var(--clr-text);
    outline: none;
    width: min(60ch, calc(100vw - 2rem));
    margin: auto;
    margin-top: 10%;
    border-radius: 0.25em;
    padding: 0.25em;
  }

  *::selection {
    background-color: var(--clr-primary);
  }

  input {
    border: none;
    outline: none;
    background: none;
  }

  span:has(input) {
    display: inline-block;
    border: var(--clr-border) 1px solid;
    outline: none;
    background-color: var(--clr-card-bg);
    border-radius: 0.25em;
  }

.placeholder::after {
  content: 'Type here';
  color: var(--clr-card-bg);
  display: inline;
}

li.placeholder::after {content: 'List items';}
[data-type="task-list"] {
  list-style: none;
  position: relative;

  input {
    position: absolute;
    left: 1.25em;
    top: 50%;
    transform: translateY(-50%);
  }
}

.placeholder br {
  display: none;
}


pre {
  background-color: var(--clr-card-bg);
  border-radius: 0.25em;
  border: 1px solid var(--clr-border);
  padding: 0.5em;
}

hr {
  border: none;
  border-top: 1px solid var(--clr-border);
  margin-block: 1em;
}

[data-type='checkbox'] {
  list-style: none;
  padding-left: 1.5em;

  li {
    position: relative;
  }

  input {
    position: absolute;
    left: -1.25em;
    top: 50%;
    transform: translateY(-50%);
  }
}

#menu {
  background-color: var(--clr-card-bg);
  color: var(--clr-text);
  border-radius: 0.5em;
  border: 1px solid var(--clr-border);
  position-anchor: --menu-item;
  position: absolute;
  left: anchor(left);
  top: anchor(bottom);
  transform: translateY(0.5em);
  width: 250px;

  scrollbar-color: var(--clr-border) var(--clr-card-bg);


  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
  }

  button {
    font-family: monospace;
    background-color: var(--clr-card-bg);
    color: var(--clr-text);
    border: none;
    padding: 0.5em 0.25em;
    border-radius: 0.25em;
    cursor: pointer;
    width: 100%;
    text-align: left;

    &:hover {
      background-color: var(--clr-border);
    }
  }	
}

span.menu-search {
  anchor-name: --menu-item;
  display: inline-block;
  padding: 0.15em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  background-color: var(--clr-card-bg);
  color: var(--clr-text);
  transition: background-color 0.2s ease-in-out;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1em;
  overflow-x: scroll;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;

  li {
    scrollbar-width: none;
    margin-block: 1em;
    padding: 0.5em;
    min-width: 300px;
    min-height: 150px;
    overflow-y: scroll;
    background-color: var(--clr-card-bg);
    border-radius: 0.25em;
  }
}


code {
  font-family: monospace;
  font-size: var(--font-size);
  font-weight: 500;
  border: 1px solid var(--clr-border);
  color: var(--clr-subtle);
  background-color: var(--clr-card-bg);
  border-radius: 0.5em;
  padding: 0.1em 0.2em;
}

code.html::after {content: '>';}
code.html::before {content: '<';}

details {
  overflow-x: visible;
}

li, p {
  line-height: 1.75;
  margin-block: 0.75em;
  color: var(--clr-subtle);
  text-wrap: balance;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
th, td {
  place-content: center;
  border: 1px solid var(--clr-border);
  text-align: left;
  padding: 8px;
}
th {
  background-color: var(--clr-card-bg);
}

.cancellable-yes {
  font-weight: bold;
}

