*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;}
body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block; max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;}



:root {
    font-family: InterVariable, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    --font-size: 1rem;

    --clr-subtle: hsl(0, 0%, 50%);
    --clr-text: hsl(0, 0%, 20%);
    --clr-bg: hsl(0, 0%, 100%);
    --clr-border: hsl(0, 0%, 90%);
    --clr-card-bg: hsl(0, 0%, 95%);
    --clr-primary: hsla(60, 100%, 50%, 0.5);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --clr-subtle: hsl(0, 0%, 70%);
      --clr-text: hsl(0, 0%, 90%);
      --clr-bg: hsl(0, 0%, 12.5%);
      --clr-border: hsl(0, 0%, 25%);
      --clr-card-bg: hsl(0, 0%, 18%);
      --clr-primary: hsla(60, 100%, 50%, 0.2);
    }
  }

  body {
    background-color: var(--clr-bg);
  }

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.035em;
    padding-block: 1.5em 0.25em;
  }

  @font-face {
    font-family: InterVariable;
    font-style: normal;
    src: url(font/InterVariable.woff2);
  }

  @font-face {
    font-family: InterVariable;
    font-style: italic;
    src: url(font/InterVariable-Italic.woff2);
  }

  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

  #editor, main {
    color: var(--clr-text);
    outline: none;
    width: min(60ch, calc(100vw - 2rem));
    margin: auto;
    margin-top: 10%;
    border-radius: 0.25em;
    padding: 0.25em;
  }

  *::selection {
    background-color: var(--clr-primary);
  }

  input {
    border: none;
    outline: none;
    background: none;
  }

  span:has(input) {
    display: inline-block;
    border: var(--clr-border) 1px solid;
    outline: none;
    background-color: var(--clr-card-bg);
    border-radius: 0.25em;
  }

.placeholder::after {
  content: 'Type here';
  color: var(--clr-card-bg);
  display: inline;
}

li.placeholder::after {content: 'List items';}
[data-type="task-list"] {
  list-style: none;
  position: relative;

  input {
    position: absolute;
    left: 1.25em;
    top: 50%;
    transform: translateY(-50%);
  }
}

.placeholder br {
  display: none;
}

a, a:visited {color: var(--clr-text); text-decoration: none; background-color: var(--clr-card-bg); padding: 0.25em; border-radius: 0.25em;}
a::after {content: ' ↗'; color: var(--clr-subtle);}

pre {
  background-color: var(--clr-card-bg);
  border-radius: 0.25em;
  border: 1px solid var(--clr-border);
  padding: 0.5em;
}

hr {
  border: none;
  border-top: 1px solid var(--clr-border);
  margin-block: 1em;
}

code {
  font-family: monospace;
  font-weight: 500;
  color: var(--clr-subtle);
  background-color: var(--clr-card-bg);
  border-radius: 0.5em;
  padding: 0.1em 0.2em;
}

code.html::after {content: '>';}
code.html::before {content: '<';}

details {
  overflow-x: visible;
}

li, p {
  line-height: 1.75;
  margin-block: 0.75em;
  color: var(--clr-subtle);
  text-wrap: balance;
}

mark {
  background-color: var(--clr-primary);
  color: var(--clr-text);
  box-shadow: 0 0 0.25em var(--clr-primary);
  border-radius: 0.25em;
}

#caretForm {
  padding: 0.25em;
  border-radius: 0.5em;
  font-family: monospace;
  display: flex;
  flex-direction: row;
  align-items: center;

  *:not(input) {
    user-select: none;  
  }

  :disabled {cursor: not-allowed; &::placeholder {color: var(--clr-border) !important;}}

  span {
    background: none;
    border: none;
  }

  button {
    background: none;
    border: none;
    transform: scale(0.6);
    cursor: pointer;
    padding: 0;
  }

  span:nth-child(1) { color: #8cdcfe;}
  span:nth-child(3), span:last-of-type { color: #f1db0f;}

  #method {color: #edf8a7;}
  #node {color: #379dd4;}
  #offset {color: #b5cea8;}
  
  input {
    color: var(--clr-text);
    border: none;
    outline: none;
    width: fit-content;
    border-radius: 0.25em;
    font-family: monospace;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}